openapi: 3.0.3
info:
  title: screeenly API
  description: The screeenly API allows you to create screenshots, PDFs and HTML from URLs or HTML code.
  termsOfService: 'https://3.screeenly.com/terms'
  contact:
    name: Support
    email: support@screeenly.com
  version: 3.0.0
servers:
  - url: 'https://3.screeenly.com/api'
    description: Production Server
security:
  - bearerAuth: []

tags:
  - name: Shots
    description: Create screenshots or PDFs from URLs or HTML code.
  - name: HTML
    description: Get rendered HTML from URLs or HTML code.

paths:
  /v1/shots:
    post:
      summary: Screenshot or PDF
      description: Create a new screenshot or PDF from the given URL or the given HTML source code.
      operationId: createShot
      tags:
        - Shots
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrowsershotRequest'
        required: true
      responses:
        '201':
          description: Response when the screenshot or PDF was created successfully.
          headers:
            X-Usage-Limit:
              $ref: '#/components/headers/X-Usage-Limit'
            X-Usage-Usage:
              $ref: '#/components/headers/X-Usage-Usage'
            X-Usage-Remaining:
              $ref: '#/components/headers/X-Usage-Remaining'
            X-Ratelimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-Ratelimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowsershotResponse'
        '401':
          $ref: '#/components/responses/AuthenticationException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
        '429':
          $ref: '#/components/responses/TooManyAttemptsException'
        '500':
          $ref: '#/components/responses/ServerException'

  /v1/rendered-html:
    post:
      summary: Rendered HTML
      description: Return the rendered HTML for the given URL or the given HTML code.
      operationId: renderedHtml
      tags:
        - HTML
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HtmlBrowsershotRequest'
        required: true
      responses:
        '201':
          description: Response when the HTML of the given URL or HTML code was rendered successfully.
          headers:
            X-Usage-Limit:
              $ref: '#/components/headers/X-Usage-Limit'
            X-Usage-Usage:
              $ref: '#/components/headers/X-Usage-Usage'
            X-Usage-Remaining:
              $ref: '#/components/headers/X-Usage-Remaining'
            X-Ratelimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-Ratelimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HtmlBrowsershotResponse'
        '401':
          $ref: '#/components/responses/AuthenticationException'
        '403':
          $ref: '#/components/responses/AuthorizationException'
        '422':
          $ref: '#/components/responses/ValidationException'
        '429':
          $ref: '#/components/responses/TooManyAttemptsException'
        '500':
          $ref: '#/components/responses/ServerException'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  headers:
    X-Usage-Limit:
      description: The usage limit of the user
      schema:
        type: integer
        example: 1000
    X-Usage-Usage:
      description: The usage of the user
      schema:
        type: integer
        example: 15
    X-Usage-Remaining:
      description: The remaining usage of the user
      schema:
        type: integer
        example: 985
    X-Ratelimit-Limit:
      description: The maximum number of request the user can make in a minute.
      schema:
        type: integer
        example: 30
    X-Ratelimit-Remaining:
      description: The remaining number of request the user can make in a given minute.
      schema:
        type: integer
        example: 15

  responses:
    AuthenticationException:
      description: Response when the user is not authenticated
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: 'Unauthenticated.'
    AuthorizationException:
      description: Response when the user is not authorized to access the resource or perform the action.
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: 'Access denied. Your trial has expired and you did not subscribe to a plan. Subscribe to a plan here: https://3.screeenly.com/billing/subscriptions.'
    TooManyAttemptsException:
      description: Response when the user has reached the rate limit.
      headers:
        X-Usage-Limit:
          $ref: '#/components/headers/X-Usage-Limit'
        X-Usage-Usage:
          $ref: '#/components/headers/X-Usage-Usage'
        X-Usage-Remaining:
          $ref: '#/components/headers/X-Usage-Remaining'
        X-Ratelimit-Limit:
          $ref: '#/components/headers/X-Ratelimit-Limit'
        X-Ratelimit-Remaining:
          $ref: '#/components/headers/X-Ratelimit-Remaining'
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: 'Too Many Attempts.'
    ValidationException:
      description: Response when the given data was invalid.
      headers:
        X-Ratelimit-Limit:
          $ref: '#/components/headers/X-Ratelimit-Limit'
        X-Ratelimit-Remaining:
          $ref: '#/components/headers/X-Ratelimit-Remaining'
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: 'The field is required. (and 1 more error)'
              errors:
                type: object
                additionalProperties:
                    type: array
                    items:
                      type: string
                      example: The {{key}} field is required.
    ServerException:
      description: Response when the server encountered an error.
      headers:
        X-Usage-Limit:
          $ref: '#/components/headers/X-Usage-Limit'
        X-Usage-Usage:
          $ref: '#/components/headers/X-Usage-Usage'
        X-Usage-Remaining:
          $ref: '#/components/headers/X-Usage-Remaining'
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: 'Server Error.'

  schemas:
    BrowsershotRequest:
      type: object

      required:
        - url
      properties:
        url:
          type: string
          example: 'https://www.google.com'
          description: The URL must be accessible to screeenly servers
        html:
          type: string
          description: Required, if URL is not set
        file_type:
          type: string
          default: png
          enum:
            - jpg
            - png
            - pdf
        window_width:
          type: number
          minimum: 1
          maximum: 10000
        window_height:
          type: number
          minimum: 1
          maximum: 10000
        timeout:
          type: integer
          default: 10
        delay:
          type: integer
          minimum: 0
          maximum: 30000
          default: 0
          description: Delay in milliseconds before the browser is capturing the screenshot
        paper_width:
          type: number
          minimum: 1
          maximum: 100000
        paper_height:
          type: number
          minimum: 1
          maximum: 100000
        paper_format:
          type: string
          enum:
            - A0
            - A1
            - A2
            - A3
            - A4
            - A5
            - A6
            - Letter
            - Legal
            - Tabloid
            - Ledger
        paper_margins_top:
          type: number
          minimum: 0
          maximum: 250
        paper_margins_right:
          type: number
          minimum: 0
          maximum: 250
        paper_margins_bottom:
          type: number
          minimum: 0
          maximum: 250
        paper_margins_left:
          type: number
          minimum: 0
          maximum: 250
        paper_orientation:
          type: string
          enum:
            - landscape
            - portrait
          default: portrait
        pdf_show_background:
          type: boolean
          default: false
        selector:
          type: string
          example: '#app'
          description: CSS Selector
        full_page:
          type: boolean
          default: false
          description: 'Indicates if the entire height of the website should be captured in the screenshot'
        clip_x:
          type: integer
          description: The position on the x-axis where the clipping should start
        clip_y:
          type: integer
          description: The position on the y-axis where the clipping should start
        clip_width:
          type: integer
          description: The width of the clip in pixels
        clip_height:
          type: integer
          description: The height of the clip in pixels
        device_scale_factor:
          type: integer
          default: 1
          enum:
            - 1
            - 2
            - 3
          description: Set the pixel density to generate the screenshot
        hide_background:
          type: boolean
          default: false
          description: Set to true, to ignore the website's background when capturing a screenshot
        transparent_background:
          type: boolean
          default: false
          description: Set to true, to turn the default background color (white) to transparent.
        show_browser_header_and_footer:
          type: boolean
          default: false
          description: Set to true, to show the header and footer generated by the browser when generating a PDF.
        header_html:
          type: string
          description: HTML to be shown in the browsers header when generating a PDF. Check out [Cookbook](/guide/cookbook/print-headers-and-footers-in-pdfs) for examples.
          example: '<span class="date"></span><span class="title"></span>'
        footer_html:
          type: string
          description: HTML to be shown in the browsers footer when generating a PDF. Check out [Cookbook](/guide/cookbook/print-headers-and-footers-in-pdfs) for examples.
          example: '<span class="pageNumber"></span><span class="totalPages"></span>'
        dismiss_dialogs:
          type: boolean
          default: false
          description: Set to true, to automatically close popups, alerts or confirmation dialogs generated through JavaScript
        disable_javascript:
          type: boolean
          default: false
          description: Set to true, to disable JavaScript in the browser.
        wait_until_network_idle_strict:
          type: boolean
          default: false
          description: Set to true, to allow up to 2 network connections in the 500ms period. This setting is useful, if the website regularly pings and endpoint with XHR.
        disable_web_security:
          type: boolean
          default: false
          description: Set to true, to disable [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) checks in the browser
        browser_language:
          type: string
          default: 'en-GB'
          description: Must be a valid ISO 639-1 language code.
        css_media_type:
          type: string
          enum:
            - screen
            - print
          default: screen
        ignore_https_errors:
          type: boolean
          default: false
          description: Set to true, to ignore errors related to HTTPS/SSL certificates
        http_headers:
          type: array
          description: Array of HTTP headers passed to the browser
          items:
            type: object
            properties:
              key:
                type: string
                example: 'X-My-Header'
              value:
                type: string
                example: 'My Value'
        cookies:
          type: array
          description: Array of cookies passed to the browser
          items:
            type: object
            properties:
              key:
                type: string
                example: 'my_cookie'
              value:
                type: string
                example: 'my_value'
              domain:
                type: string
                example: 'example.com'
        basic_authentication_username:
          type: string
          description: The username which should be used for the Basic Authentication
        basic_authentication_password:
          type: string
          description: The password which should be used for the Basic Authentication
    HtmlBrowsershotRequest:
      type: object

      required:
        - url
      properties:
        url:
          type: string
          example: 'https://www.google.com'
          description: The URL must be accessible to screeenly servers
        html:
          type: string
          description: Required, if URL is not set
        window_width:
          type: number
          minimum: 1
          maximum: 10000
        window_height:
          type: number
          minimum: 1
          maximum: 10000
        timeout:
          type: integer
          default: 10
        delay:
          type: integer
          minimum: 0
          maximum: 30000
          default: 0
          description: Delay in milliseconds before the browser is capturing the screenshot
        dismiss_dialogs:
          type: boolean
          default: false
          description: Set to true, to automatically close popups, alerts or confirmation dialogs generated through JavaScript
        disable_javascript:
          type: boolean
          default: false
          description: Set to true, to disable JavaScript in the browser.
        wait_until_network_idle_strict:
          type: boolean
          default: false
          description: Set to true, to allow up to 2 network connections in the 500ms period. This setting is useful, if the website regularly pings and endpoint with XHR.
        disable_web_security:
          type: boolean
          default: false
          description: Set to true, to disable [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) checks in the browser
        browser_language:
          type: string
          default: 'en-GB'
          description: Must be a valid ISO 639-1 language code.
        ignore_https_errors:
          type: boolean
          default: false
          description: Set to true, to ignore errors related to HTTPS/SSL certificates
        http_headers:
          type: array
          description: Array of HTTP headers passed to the browser
          items:
            type: object
            properties:
              key:
                type: string
                example: 'X-My-Header'
              value:
                type: string
                example: 'My Value'
        cookies:
          type: array
          description: Array of cookies passed to the browser
          items:
            type: object
            properties:
              key:
                type: string
                example: 'my_cookie'
              value:
                type: string
                example: 'my_value'
              domain:
                type: string
                example: 'example.com'
        basic_authentication_username:
          type: string
          description: The username which should be used for the Basic Authentication
        basic_authentication_password:
          type: string
          description: The password which should be used for the Basic Authentication
    BrowsershotResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            url:
              type: string
              example: 'https://example.com'
            expires_at:
              type: integer
              example: 1920
            shot_url:
              type: string
              example: https://3.screeenly.com/storage/149032/0c8532c6-38da-4389-a038-5e73e2c42304.jpg
        meta:
          type: object
          properties:
            request_id:
              type: string
              example: null
            usage_limit:
              type: object
              properties:
                limit:
                  type: integer
                  example: 1000
                usage:
                  type: integer
                  example: 15
                remaining:
                  type: integer
                  example: 985
                resets:
                  type: string
                  example: '2024-01-01T00:00:00.000000Z'
    HtmlBrowsershotResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            rendered_html:
              type: string
              example: '<html><head></head><body><h1>Hello World</h1></body></html>'
        meta:
          type: object
          properties:
            request_id:
              type: string
              example: null
            usage_limit:
              type: object
              properties:
                limit:
                  type: integer
                  example: 1000
                usage:
                  type: integer
                  example: 15
                remaining:
                  type: integer
                  example: 985
                resets:
                  type: string
                  example: '2024-01-01T00:00:00.000000Z'
